*{margin:0;padding:0;font-style: normal;font-size:62.5%;background:#68cdd5;}

.header1{position:absolute;top:20px;left:34px;}
.header2{margin-top:115px;text-align: center;}
.contain{color: #ffffff;
    font-size: 2rem;
    font-family:"Adobe ËÎÌו Std L";
    line-height:40px;
    width:70.31%;
    padding-top:100px;
    margin:0 auto;
}
.foot1{color:#ffffff;font-size:3rem;
    margin-left:138px;margin-top:177px;
    float:left;
}
.foot2{color:#ffffff;font-size:3rem;
    margin-right:138px;margin-top:177px;float:right;}