*{margin:0;padding:0;font-style: normal;font-size:62.5%;background:#68cdd5;}
html{max-width: 768px;
      margin:0 auto;}
.header1{position:absolute;top:20px;left:34px;}
.header2{margin-top:115px;text-align: center;}
.contain{color: #ffffff;
    font-size: 1.5rem;
    font-family:"Adobe ו Std L";
    line-height:40px;
    width:70.31%;
    padding-top:80px;
    margin:0 auto;
}
.foot1{color:#ffffff;font-size:2rem;
    margin-left:90px;margin-top:130px;
    float:left;
}
.foot2{color:#ffffff;font-size:2rem;
    margin-right:90px;margin-top:130px;float:right;}