*{margin:0;padding:0;font-size:62.5%;}
html{max-width: 700px;background:#eff0f4;margin:0 auto;}
.header{width:100%;height:46px;
         background:#68cdd5;
         color:#ffffff;
         position: relative;
         margin-bottom:8px;
         }
.register{font-size: 1.6rem;
           position: absolute;left:8px;
           line-height:46px;
           }
.login{
        font-size:1.8rem;font-weight: 200;
        position: absolute;left:50%;margin-left: -2rem;
        line-height:46px;
        }
.close{font-size:1.6rem;
        position:absolute;right:8px;
        line-height:46px;
        }

.test1{
        height:56px;
        border:none;
        font-size:1.5rem;
        outline:none;
         width:100%; text-indent:120px;
        background: none;
       }
.image1 {
          background: url(images/login2_03.png) no-repeat 0 center;
          background-size: 100%;
          width: 100%;
          height: 56px;
          margin: 4px 0 8px;
        }
.test2{height:56px;
        border:none;
        font-size:1.5rem;
        outline:none;
        width:100%; text-indent:120px;
        background: none;
       }
.image2{
    background: url(images/password1_03.png) no-repeat 0 center;background-size: 100%;
    width: 100%;
    height: 56px;
    margin: 4px 0 4px;
         }

.button{width:100%;height:56px;
         margin:4px 0 4px;border:none;outline:none;
         font-size:1.8rem;color:#ffffff;
         background:#68cdd5;
         }
.bottom{font-size: 1.2rem;
         color:#68cdd5;
         text-decoration: underline;
         position:absolute;right:8px;
         }
.foot{width:100%;
       position: relative;
      }