* {
  padding: 0;
  margin: 0; }

html {
  height: 100%; }

body {
  height: 100%; }

.col-xs-12 {
  padding: 0; }

.row {
  margin: 0; }

.container {
  padding: 0; }

.navbar-default {
  margin-bottom: 0;
  border: none;
  background: linear-gradient(#ff6611, #ffc28f); }

.navbar-default .navbar-brand {
  color: white; }

.navbar-header {
  float: none; }

.navbar-nav > li {
  float: none;
  text-align: center; }

.navbar-default .navbar-nav > li > a {
  color: white; }

.navbar-nav > li > .dropdown-menu {
  width: 100%; }

.dropdown-menu > li > a {
  text-align: center;
  text-indent: 30px; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: white;
  background-color: #ffb938; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: white;
  background-color: #ffb938; }

.navbar-nav > li > .dropdown-menu {
  width: 100%;
  background-color: #ff7f2c;
  border: none;
  box-shadow: none;
  padding: 0; }

.navbar-nav {
  margin: 7.5px 0; }

.dropdown-menu > li > a {
  color: white; }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  text-decoration: none;
  background-color: #ffb938;
  color: white; }

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white; }

.header-rt {
  width: 100%;
  height: 50px;
  background-color: white; }

.contain-rt {
  width: 100%;
  background-color: #ffd8bf;
  height: calc(100% - 50px); }

.header-text1 {
  float: right;
  color: #535cff;
  line-height: 50px;
  font-size: 17px;
  margin: 0 15px; }

.header-text1:focus, .header-text1:hover, .header-text2:focus, .header-text2:hover {
  background-color: #dedede; }

.line1 {
  height: 16px;
  width: 2px;
  background-color: #b6b6b6;
  float: right;
  margin-top: 17px; }

.header-text2 {
  float: right;
  height: 50px;
  margin: 0 10px;
  padding: 15px; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #ff7f2c; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
  padding: 0; }

@media only screen and (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: white; }

  .header-rt {
    display: none; } }
@media only screen and (min-width: 768px) {
  .navbar {
    border-radius: 0; }

  .navbar-brand {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ffb42c; }

  .navbar-nav {
    width: 100%;
    text-align: center; }

  .container {
    margin: 0;
    height: 100%;
    width: 100%; }

  .row {
    height: 100%;
    width: 100%; }

  .col-sm-3 {
    height: 100%; }

  .navbar-default {
    height: 100%; }

  .col-sm-9 {
    height: 100%; }

  .navbar-header .header-text2, .navbar-header .header-text1, .navbar-header .line1 {
    display: none; } }

/*# sourceMappingURL=js6-background.css.map */
