*{
    margin:0;
    padding:0;
    font-size: 62.5%;
}
.headtop{
    height:2rem;
    background-color: #1d7ad9;
    text-align: center;
}
.headtop1{
    width:70%;
    height:2rem;
    display: inline-block;
}
.top-text1,.top-text2,.top-text3{
    height:2rem;
    line-height: 2rem;
    color:white;
    background-color: inherit;
    border: none;
}
.top-text1{
    float: left;
}
.top-text2{
    float: right;
    padding:0 0.5rem;
    border-left: solid 1px white;
    border-right: solid 1px white;
}
.top-text3{
    float: right;
    padding:0 1rem;
}
.top-text2:hover,.top-text3:hover{
    background-color: white;
    color: black;
}
.top-text2:focus,.top-text3:focus{
    outline: none;
}
.headsecond{
    height:5rem;
    background-color: #f9f9f9;
    text-align: center;
}
.headsecond1{
    width:70%;
    display: inline-block;
}
.secondtext1{
    display: block;
    float: right;
    padding:0.5rem;
    border-radius: 3px;
    background-color: white;
    margin:1.4rem 0 0 1rem;
    color:black;
}
.secondtext1:hover{
    background-color: #1d7ad9;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.mainbody{
    text-align: center;
    margin-bottom:2rem;
}
.process1{
    width:70%;
    height:6rem;
    display:inline-block;
    position: relative;
    padding-top: 2rem;
}
.pro1{
    position: relative;
}
.step1{
    width:7rem;
    height:0.4rem;
    background-color: #cccccc;
    border-radius: 2px;
    position: absolute;
    top:1rem;
    right:19.5rem;
    z-index: 1;
}
.step2{
    width:7rem;
    height:0.4rem;
    background-color: #cccccc;
    border-radius: 2px;
    position: absolute;
    top:1rem;
    right:13rem;
    z-index: 1;
}
.step3{
    width:7rem;
    height:0.4rem;
    background-color: #cccccc;
    border-radius: 2px;
    position: absolute;
    top:1rem;
    right:6.5rem;
    z-index: 1;
}
.step4{
    width:7rem;
    height:0.4rem;
    background-color: #cccccc;
    border-radius: 2px;
    position: absolute;
    top:1rem;
    right:0;
    z-index: 1;
}
.circle1,.circle2,.circle3,.circle4{
    width:1.6rem;
    height:1.6rem;
    border-radius: 8px;
    background-color: #cccccc;
    color:white;
    line-height: 1.6rem;
    position: absolute;
    top:0.4rem;
    z-index:2;
}
.circle4{
    right:2.7rem;
}
.circle3{
    right:9.2rem;
}
.circle2{
    right:15.7rem;
}
.circle1{
    right:22.2rem;
}

.circle1{
    background-color: #ff7f02;
    z-index: 4;
}
.step1{
    background-color: #ff7f02;
    z-index: 3;
}
.pro1:hover .circle2{
    background-color: #ff7f02;
    z-index: 4;
}
.pro1:hover .step2{
    background-color: #ff7f02;
    z-index: 3;
}
.pro1:hover .circle3{
    background-color: #ff7f02;
    z-index: 4;
}
.pro1:hover .step3{
    background-color: #ff7f02;
    z-index: 3;
}
.pro1:hover .circle4{
    background-color: #ff7f02;
    z-index: 4;
}
.pro1:hover .step4{
    background-color: #ff7f02;
    z-index: 3;
}
.step-text1,.step-text2,.step-text3,.step-text4{
    color: #cccccc;
    position: absolute;
    top:3rem;
}
.step-text4{
    right:1.5rem;
}
.step-text3{
    right:8rem;
}
.step-text2{
    right:14.5rem;
}
.step-text1{
    right:21rem;
}
.step-text1{
    color: #ff7f02;
}
.pro1:hover .step-text2{
    color: #ff7f02;
}
.pro1:hover .step-text3{
    color: #ff7f02;
}
.pro1:hover .step-text4{
    color: #ff7f02;
}
.process2{
    display: inline-block;
    width:70%;
    text-align: left;
}
.makebox{
    color: black;
    font-size: 1.5rem;
    border-left: 3px solid #1d7ad9;
    padding-left: 0.5rem;
    line-height: 2rem;
    margin: 4rem 0 1rem 0;
}
.first{
    height:3rem;
    line-height: 3rem;
    background-color: #f3f3f3;
    /*margin-top:1rem;*/
    font-size: 1.5rem;
    font-weight: 700;
    color:#1d7ad9;
}
.box{
    margin:0 1rem;
}
.radio1{
    position: relative;
    padding:2rem 0;
    border-left:1px solid #f3f3f3;
    border-right:1px solid #f3f3f3;
    background-color: #fbfcff;
}
.radioblueicon1,.radioblueicon2,.radioblueicon3,.radioblueicon4,.radioblueicon5,.radioblueicon6,
.radioblueicon7,.radioblueicon8,.radioblueicon9,.radioblueicon10{
    visibility: hidden;
}
.radioblue{
    visibility: hidden;
}
.radiotext1{
    margin-left: 4.5rem;
}
.radiotext,.radiotext2{
    margin-left:2rem;
}
.radioicon1,.radioblueicon1{
    position: absolute;
    top:2.9rem;
    left:3rem;
}
.radioicon2,.radioblueicon2{
    position: absolute;
    top:2.9rem;
    left:9.6rem;
}
.radioicon3,.radioblueicon3{
    position: absolute;
    top:2.9rem;
    left:16.3rem;
}

.radio1 .radiotext1 .radioblue:checked+.radioblueicon1{
    visibility: visible;
}
.radio1 .radiotext .radioblue:checked+.radioblueicon2{
    visibility: visible;
}
.radio1 .radiotext .radioblue:checked+.radioblueicon3{
    visibility: visible;
}
.labeltext{
    font-size: 1rem;
    color: #808080;
    font-weight: normal;
}
form{
    display: inline-block;
}
.select1,.select2{
    float: right;
    -moz-appearance: none;
    -webkit-appearance: none;
    width:10rem;
    height:3rem;
    font-size: 1rem;
    color:#999999;
    border:1px solid #e8e8e8;
    background: url(images/selecticon.png) no-repeat 90% center;
    background-size: 2rem 2rem;
    padding-left:1rem;
}
option{
    width:10rem;
    height:3rem;
    font-size: 1rem;
}
.radio2{
    position: relative;
    padding:2rem 0 ;
    border-left:1px solid #f3f3f3;
    border-right:1px solid #f3f3f3;
    background-color: #fbfcff;
}
.radioicon4,.radioblueicon4{
    position: absolute;
    top:3rem;
    left:3.1rem;
}
.radioicon5,.radioblueicon5{
    position: absolute;
    top:6.3rem;
    left:3.1rem;
}
.radio2 .radiotext1 .radioblue:checked+.radioblueicon4{
    visibility: visible;
}
.radio2 .radiotext1 .radioblue:checked+.radioblueicon5{
    visibility: visible;
}
.radio2 label{
    margin-bottom: 1rem;
}
.mediaruler{
    display: inline-block;
}
.rulertext{
    display: inline-block;
    font-size:1rem;
    color:#999999;
    margin-left: 1rem;
}
.ruler{
    border:1px solid #e8e8e8;
    height:3rem;
    width:5rem;
}
.select2{
    margin-top:2.1rem;
}
.radioicon6,.radioblueicon6{
    position: absolute;
    top:2.9rem;
    left:3.1rem;
}
.radioicon7,.radioblueicon7{
    position: absolute;
    top:2.9rem;
    left:12rem;
}
.radioicon8,.radioblueicon8{
    position: absolute;
    top:2.9rem;
    left:21.3rem;
}
.radioicon9,.radioblueicon9{
    position: absolute;
    top:2.9rem;
    left:30.7rem;
}
.radioicon10,.radioblueicon10{
    position: absolute;
    top:2.9rem;
    left:40rem;
}
.radio1 .radiotext1 .radioblue:checked+.radioblueicon6{
    visibility: visible;
}
.radio1 .radiotext .radioblue:checked+.radioblueicon7{
    visibility: visible;
}
.radio1 .radiotext .radioblue:checked+.radioblueicon8{
    visibility: visible;
}
.radio1 .radiotext2 .radioblue:checked+.radioblueicon9{
    visibility: visible;
}
.radio1 .radiotext .radioblue:checked+.radioblueicon10{
    visibility: visible;
}
.nextstep{
    height:16rem;
    border:1px solid #e8e8e8;
    text-align: center;
}
.nextbtn{
    display: inline-block;
    height:3rem;
    width:9rem;
    background-color: #e15053;
    font-size: 1.5rem;
    color:white;
    border:none;
    border-radius: 5px;
    margin:6.5rem auto 0;

}
.foot1{
    background-color: #f9f9f9;
    text-align: center;
}
.foot1wrap{
    width:70%;
    display: inline-block;
    margin:3rem 0;
}
.foottext1{
    float: left;
    font-size: 1rem;
    color:#999999;
}
.foot1text2{
    width:16rem;
    text-align: left;
    margin: 0 auto;
    display: inline-block;
}
.foota{
    font-size: 1rem;
    color:#999999;
    display: inline-block;
    margin-right: 1rem;
}
.foot1text3{
    width:10rem;
    float: right;
    text-align: left;
    font-size: 1rem;
    color:#999999;
    margin-right: 1rem;
}
.formedia{
    float: right;
}
.qq{
    float: right;
}
.foot2{
    background-color: #1d7ad9;
    text-align: center;
    color:white;
    padding:1rem 0;
}
@media screen and (max-width: 850px){
    .select1,.select2{
        display: block;
        float: none;
        margin:2rem 0 0 3rem;
    }
}
@media screen and (max-width: 706px){
   .thirdform{
       width:35rem;
   }
    .radiotext2{
        margin-left:4.5rem;
    }
    .radioicon9,.radioblueicon9{
        position: absolute;
        top:5.4rem;
        left:3.1rem;
    }
    .radioicon10,.radioblueicon10{
        position: absolute;
        top:5.4rem;
        left:12rem;
    }
    .foot1text2{
        float: right;
    }
    .formedia{
        float:none;
        width:16rem;
        margin:4rem auto 0;
    }
}
@media screen and (max-width: 850px){
    .headtop1,.headsecond1,.process1,.process2,.foot1wrap{
        width:95%;
    }
}
@media screen and (max-width: 388px){
    .mediaruler{
        display: block;
        margin-left:2rem;
    }
    .radioicon5,.radioblueicon5{
        position: absolute;
        top:10rem;
        left:3.1rem;
    }
    .foottext1,.foot1text2{
        float: none;
        margin: 2rem auto 0;
        text-align: center;
    }
}