.wrap{
  width:100%;
  background-color: #29b078;
  vertical-align: middle;
  text-align: center;
  height:5rem;
}
.header1-2-2{
  float: left;
  margin:0.6rem 0 0 8.5% ;
}
.h1-t1{
  font-size: 2rem;
  color:#ffffff;
}
.h1-t2{
  font-size: 0.8rem;
  color:#ffffff;
}
.nav{
  float: right;
  margin-right: 8%;
}
.nav ol {
  float: left;
  padding: 1.8rem 1rem 0.9rem;
  margin-left: 1rem;
  border-bottom: 2px solid #29b078;
}
.nav ol a{
  font-size: 1.5rem;
  color:white;
}
.nav ol:hover{
  border-bottom: 2px solid white;
}

.navbutton{
  width:2rem;
  height:2rem;
  display: none;
  background-color: #29b078;
  float:right;
  margin:1.5rem 9% 0 0;
}
.btn-checkbox{
  display: none;
}
@media screen and (max-width: 792px){
  .nav{
    display: none;
    width:100%;
  }
  .btn-checkbox:checked ~ .nav{
    display: block;
  }
  .btn-checkbox:checked ~ .header1-2-2{
    margin-bottom: 0.5rem;
  }
  .ol-right{
    border-top: solid 1px #777;
    margin-top:1rem;
  }
  .nav ol{
    width:100%;
    display: inline-block;
    text-align: center;
    padding:1rem 0;
    background-color: #29b078;
    margin:0;
  }
  .nav{
    margin:0;
  }
  .navbutton{
    display: inline-block;
  }
  .nav ol:hover{
    border-bottom:2px solid #29b078;
  }
}