*{
    margin:0;
    padding:0;
    font-size: 62.5%;
}
body{
    background-color: #fafafa;
}
.header1{
    width:100%;
    text-align: center;
}
.header1-1{
    width:70%;
    display: inline-block;
    height:2rem;
    line-height: 2rem;
    text-align: left;
}
.h1-1{
    color:#29b078;
    font-size:1rem;
}
.h1-2{
    display: inline-block;
    float: right;
}
.img1{
    margin:0 5px;
}
.header1-2{
    width:100%;
    background-color: #29b078;
    vertical-align: middle;
}
.header1-h2{
    width:70%;
    display: inline-block;
}

.h1-t1{
    font-size: 2rem;
    color:#ffffff;
}
.h1-t2{
    font-size: 0.8rem;
    color:#ffffff;
}
.header1-2-1{
    display: inline-block;
    margin-bottom: -1.5px;
}

.h2-1{
    display: inline-block;
    font-size:1.2rem;
    color:white;
    padding:0 5px;
    line-height:48px;
}
.h2-1:hover{
    border-bottom:2px solid white;
    color:white;
    text-decoration: none;
    margin-bottom: -2px;
}
.mainbody{
    background-color: #fafafa;
    text-align: center;
}
.m1{
    width:70%;
    height:4rem;
    line-height: 4rem;
    display: inline-block;
    text-align: left;
}
.m1-t1{
    font-size: 1rem;
    color:black;
    font-weight: 700;
}
.m1-t2{
    font-size: 1rem;
    color:#3fb582;
    font-weight: 700;
}
.m2{
    display: inline-block;
    width:70%;
}
.m2-lf{
    /*width:120px;*/
    /*float: left;*/
    border: solid 1px #ededed;
    border-radius: 5px;
    padding-bottom: 1.6rem;
    background-color: #ffffff;
}
.lf1{
    height:3.6rem;
    text-align: center;
    font-size: 1rem;
    color:black;
    font-weight: 700;
    line-height: 3.6rem;
    border-bottom: solid 1px #ededed;
}
.lf-center{
    display: inline-block;
    text-align: center;
}
.lf2{
    text-align: left;
    /*padding-left:40px;*/
    margin:1.6rem auto 0;
}
.lf2-2{
    font-size:0.8rem;
    color:#29b078;
}
.lf2-1{
    display: inline-block;
    background: url(images/listicon2.png) no-repeat ;
    background-size: 100% 100%;
    width:5px;
    height:5px;
}
a{
    text-decoration: none;
    color:#29b078;
}
.lf2:hover .lf2-1{
    background: url(images/listicon.png) no-repeat ;
    background-size: 100% 100%;
    width:5px;
    height:5px;

}
.lf2-2:hover{
    color:#ff650e
}
.m2-rt{
    border: solid 1px #ededed;
    border-radius: 5px;
    background-color: #ffffff;
    color:#b5b5b5;
    font-size: 0.8rem;
}
.rt1{
    display: table-cell;
    text-align: left;
    padding: 1px 2.4rem 1px;
    border-bottom: solid 1px #ededed;

}

.rt1-1{
    display: inline-block;
    margin-top: 15px;

}
.rt1-text{
    display: inline-block;
    text-align: left;
    line-height: 1.5rem;
}
.rt2{
    padding:2.4rem 2.4rem 3rem;
    text-align: left;
}
.rt2-1{
    line-height: 1.5rem;
    text-indent: 1.6rem;
    margin-bottom: 1.5rem;
}
.foot1-3{
    background-color: #29b078;
    text-align: center;
}
.foot3{
    width:70%;
    display: inline-block;
    text-align: left;


}
.foot3-1{
    display: inline-block;
    vertical-align: top;
    margin-right: 14%;
}
.foot3-t1{
    color:#ffffff;
    font-size: 1rem;
    margin:1.5rem 0;
    text-align: left;
}
.foot3-t2{
    margin-top:4.1rem;
}
.foot3-t2-1{
    display: inline-block;
    font-size: 0.8rem;
    color:#ffffff;
    text-align: left;
}
.foot3-t2-2{
    display: inline-block;
    font-size: 0.8rem;
    color:#ffffff;
    text-align: left;
    border-left: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    padding:0 4px;
    margin:0 2px;
}
.foot3-ul{
    font-size: 0.8rem;
    color:#ffffff;
    list-style: none;
    display: inline-block;
    margin-right:1rem;
}
.foot3-li{
    margin:0.7rem 0;
}
.foot-a{
    color:#ffffff;
}
.foot-a:hover{
    color:#ffffff;
    text-decoration: none;
}
.foot3-li:hover{
    border-bottom: solid 1px #ffffff;
    margin-bottom: -1px;
}
.foot3-2{
    display: inline-block;
    margin:1.5rem 1rem 0 0;
    float:right;
}
.foot3-text{
    color:#ffffff;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.foot4{
    border-top: solid 1px #32c086;
    height:20px;
    line-height:20px;
    font-size: 0.8rem;
    color:#ffffff;
}
@media screen and (max-width: 604px) {
    .foot3-2{
        width:100%;
        clear:both;
        text-align: center;
        margin-right: 0;
    }
}
@media screen and (max-width: 465px) {
    .foot3-1{
        width:100%;
        text-align: center;
    }
    .foot3-t1{
        text-align: center;
    }
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color:#186948 ;
}

.navbar-inverse .navbar-toggle {
    border-color: #29b078;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #29b078;
}
.navbar-inverse .navbar-collapse{
    background-color: #29b078;
}
.navbar-inverse {
    background-color:#29b078;
    border: none;
}
.navbar-collapse{
    border: none;
}
.navbar{
    border-radius: 0;
    margin-bottom: 0;
}
.navfont{
    font-size: 1.5rem;
    color: white;

}
.navli{
    margin:0 auto;
    width:4.5rem;
}

.navli:hover{
    border-bottom: solid 1px white;
    margin-bottom: -1px;
}
.nav>li>a{
    padding:15px 0;
}
.h1-t1{
    font-size: 2rem;
    color:#ffffff;
}
.h1-t2{
    font-size: 0.8rem;
    color:#ffffff;
}
.container{
    width:70%;
    padding:0;
}
.navbar-collapse{
    padding:0;
}
.navbar-nav{
    width: 100%;
    margin:0;
}

.header1-2-2{
    float: left;
    margin:0.6rem 0 0 1.5rem ;
}

@media screen and (min-width: 768px){
    .header1-2-2{
        margin-top:0.6rem   ;
        margin-left:0;
    }
}
